﻿@model List<ServiceAvailibilityViewModel>

@{
    ViewData["Title"] = "Monitoring system";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Monitoring system</h1>
    </div>


    <div class="container-fluid">
        <div class="row bg-light">
            <div class="col-3">
                Сервис
            </div>
            <div class="col-sm">
                Доступность
            </div>
            <div class="col-sm">
                Количество сбоев за час
            </div>
            <div class="col-sm">
                Количество сбоев за сутки
            </div>
        </div>
        @foreach (var service in Model)
        {
            <div class="row">
                <div class="col-3">
                    @service.Name
                </div>
                <div class="col-sm">
                    @service.Availability
                </div>
                <div class="col-sm">
                    @service.FailureHourCount
                </div>
                <div class="col-sm">
                    @service.FailureDayCount
                </div>
            </div>
        }
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>
